/* .projects_items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
} */
.projects_item {
  position: relative;
  /* border-bottom: 5px solid #d46e08; */
  overflow: hidden;
  cursor: pointer;
}
.projects_item img {
  width: 100%;
}
.projects_item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #d46e08;
  opacity: 0;
  transition: all 0.9s ease-in-out;
}
.projects_item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects_item:hover .projects_btn {
  opacity: 1;
}
.projects_btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects_btn {
  opacity: 0;
  color: #000;
  transition: all 0.9s ease-in-out;
}
.projects_btn:hover {
  color: #fff;
}

/* .contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url(/dist/img/christmas-ball-1867280_1920.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
} */
/* 
@media screen and (min-width: 768px) { */
/* .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1.5rem;
  }
  .about_bio {
    font-size: 1.5rem; */

/* .projects_bio-image {
    height: 40vh;
  }
  .projects_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects_items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .projects_bio_image {
    height: 50vh;
  }
} */
