.experience .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.experience .box-container .box {
  position: relative;
  flex: 1 1 33rem;
  border-left: 0.2rem solid orange;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.experience .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: orange;
}

.experience .box-container .box .content {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.experience .box-container .box .content h3 {
  font-size: 2rem;
}

.experience .box-container .box .content p {
  font-size: 1rem;
  color: #666;
}
